<app-navbar></app-navbar>
<div class="container mt-5">

  <div class="row">
    <div class="col text-center pt-3" id="employment" (click)="Employment()">  
          EmploymentList
    </div>

    <div class="col ml-5 text-center pt-3 " id="UneploymentList" (click)="UnemploymentList()"> 
      UnemploymentList
    </div>
  </div>


   
    <table class="table table-striped mt-5"  *ngIf="showEmployment">
        <thead>
          <tr>
            
            <th scope="col">Name</th>
            
            <th scope="col">Age</th>
            <th scope="col">Id</th>
           
            <th scope="col">Contact Number</th>
          </tr>
        </thead>
        <tbody *ngFor="let list of unemployentList">
          <tr>
            
            <td>{{list.name}}</td>
            <td>{{list.age}}</td>
            <td>{{list.key}}</td>
           
            <td>{{list.Address}}</td>
           
           
          </tr>
          </tbody>

          <angular2csv [data]="dataa" filename="employedList.csv" [options]="options">Download</angular2csv>
      </table>


      <table class="table table-striped mt-5" *ngIf="showUnemployment" >
        <thead>
          <tr>
            
            <th scope="col">Name</th>
            
            <th scope="col">Age</th>
            <th scope="col">Id</th>
           
            <th scope="col">Contact Number</th>
          </tr>
        </thead>
        <tbody *ngFor="let list of employementList">
          <tr>
            <td>{{list.name}}</td>
            <td>{{list.age}}</td>
            <td>{{list.key}}</td>
           <td>{{list.Address}}</td>
           </tr>
          </tbody>

          <angular2csv [data]="unemployeddata" filename="UnemploymentList.csv" [options]="unemplyedOptions">Download</angular2csv>
      </table>
     
     
</div>

